# Structure gemin outputs with Pydantic

In [5]:
from google import genai
import pydantic

client = genai.Client()

response = client.models.generate_content(
    model = "gemini-2.5-flash",
    contents = "List a few of the best italian strikers in the time era of 1975-1995 and some of the most important clubs they played for"
)

print(response.text)

Here are some of the best Italian strikers from the 1975-1995 era, along with some of the most important clubs they played for:

1.  **Paolo Rossi**
    *   **Known for:** His incredible comeback story and Golden Boot/Golden Ball performance at the 1982 World Cup. A poacher with an uncanny ability to be in the right place.
    *   **Important Clubs:** Vicenza, **Juventus**, AC Milan.

2.  **Alessandro Altobelli**
    *   **Known for:** "Spillo" (The Needle) was a prolific and consistent goalscorer, particularly for Inter, for over a decade. He was part of Italy's 1982 World Cup winning squad.
    *   **Important Clubs:** Brescia, **Inter Milan**.

3.  **Roberto Baggio**
    *   **Known for:** Though often played as a *fantasista* (attacking midfielder), Baggio was consistently Italy's main goal threat for much of this era. His sublime skill, dribbling, and exquisite finishing made him a global superstar.
    *   **Important Clubs:** **Fiorentina**, **Juventus**, **AC Milan**, Bologna, Inter Milan.

4.  **Gianluca Vialli**
    *   **Known for:** A powerful and complete forward, Vialli was a key figure in Sampdoria's golden era and later at Juventus, forming potent partnerships with other great forwards.
    *   **Important Clubs:** Cremonese, **Sampdoria**, **Juventus**.

5.  **Giuseppe Signori**
    *   **Known for:** A remarkably prolific left-footed striker who was a serial Serie A top scorer. Known for his powerful and accurate shots, often from free-kicks, and his signature celebration (a one-armed wave).
    *   **Important Clubs:** Foggia, **Lazio**, Sampdoria.

6.  **Salvatore Schillaci**
    *   **Known for:** His incredible, albeit brief, explosion onto the international stage at the 1990 World Cup, where he was the tournament's top scorer and best player. A tenacious and opportunistic striker.
    *   **Important Clubs:** Messina, **Juventus**.

These players represent a fantastic generation of Italian goalscorers, each with their unique style and significant contributions to both club and national football.

In [9]:
from google import genai
import pydantic

client = genai.Client()

response = client.models.generate_content(
    model = "gemini-2.5-flash",
    contents = """List a few of the best italian strikers in the time era of 1975-1995
        give me fields of
        age: int
        important facts: str
        top3_clubs_played_for: list[str]
        
        not in markdown format
    """
)

response.text

'Paolo Rossi\nage: 38\nimportant facts: Hero of Italy\'s 1982 World Cup victory, where he was top scorer (6 goals) and awarded the Golden Ball and Golden Boot. Won the Ballon d\'Or in 1982. Known for his clinical finishing and opportunistic play.\ntop3_clubs_played_for: [\'Juventus\', \'Vicenza\', \'Milan\']\n\nAlessandro Altobelli\nage: 39\nimportant facts: One of Inter Milan\'s greatest ever strikers, known as "Spillo" (The Needle). Italy\'s second-highest scorer in the Coppa Italia. Part of Italy\'s 1982 World Cup winning squad, scoring in the final.\ntop3_clubs_played_for: [\'Inter Milan\', \'Brescia\', \'Juventus\']\n\nGianluca Vialli\nage: 30\nimportant facts: Powerful and charismatic forward, part of Sampdoria\'s "golden era" alongside Roberto Mancini, winning Serie A and the Cup Winners\' Cup. Later moved to Juventus, winning the Champions League. Known for his strength, aerial ability, and leadership.\ntop3_clubs_played_for: [\'Sampdoria\', \'Juventus\', \'Cremonese\']\n\nRoberto Baggio\nage: 28\nimportant facts: "Il Divin Codino" (The Divine Ponytail). One of the most technically gifted and creative forwards of his generation. Ballon d\'Or winner (1993). Led Italy to the 1994 World Cup final. Known for his dribbling, free-kicks, and goal-scoring ability.\ntop3_clubs_played_for: [\'Juventus\', \'Fiorentina\', \'Milan\']\n\nSalvatore Schillaci\nage: 30\nimportant facts: Rose to international fame at the 1990 World Cup, where he was an unexpected star, finishing as top scorer (6 goals) and winning the Golden Boot and Golden Ball. Known for his predatory instinct in the box.\ntop3_clubs_played_for: [\'Juventus\', \'Inter Milan\', \'Messina\']'

In [11]:
print(response.text)

Paolo Rossi
age: 38
important facts: Hero of Italy's 1982 World Cup victory, where he was top scorer (6 goals) and awarded the Golden Ball and Golden Boot. Won the Ballon d'Or in 1982. Known for his clinical finishing and opportunistic play.
top3_clubs_played_for: ['Juventus', 'Vicenza', 'Milan']

Alessandro Altobelli
age: 39
important facts: One of Inter Milan's greatest ever strikers, known as "Spillo" (The Needle). Italy's second-highest scorer in the Coppa Italia. Part of Italy's 1982 World Cup winning squad, scoring in the final.
top3_clubs_played_for: ['Inter Milan', 'Brescia', 'Juventus']

Gianluca Vialli
age: 30
important facts: Powerful and charismatic forward, part of Sampdoria's "golden era" alongside Roberto Mancini, winning Serie A and the Cup Winners' Cup. Later moved to Juventus, winning the Champions League. Known for his strength, aerial ability, and leadership.
top3_clubs_played_for: ['Sampdoria', 'Juventus', 'Cremonese']

Roberto Baggio
age: 28
important facts: "Il Divin Codino" (The Divine Ponytail). One of the most technically gifted and creative forwards of his generation. Ballon d'Or winner (1993). Led Italy to the 1994 World Cup final. Known for his dribbling, free-kicks, and goal-scoring ability.
top3_clubs_played_for: ['Juventus', 'Fiorentina', 'Milan']

Salvatore Schillaci
age: 30
important facts: Rose to international fame at the 1990 World Cup, where he was an unexpected star, finishing as top scorer (6 goals) and winning the Golden Boot and Golden Ball. Known for his predatory instinct in the box.
top3_clubs_played_for: ['Juventus', 'Inter Milan', 'Messina']

In [21]:
from pydantic import BaseModel

class Players(BaseModel):
    age: int
    important_facts: str
    top3_clubs_played_for: list[str]
    
client = genai.Client()

response = client.models.generate_content(
    model = "gemini-2.0-flash",
    contents = "List a few of the best italian strikers in the time era of 1975-1995",
    config= {"response_mime_type": "application/json", "response_schema": list[Players]}
)


print(response.text)

[
  {
    "age": 60,
    "important_facts": "Roberto Bettega was a prolific goalscorer for Juventus and the Italian national team, known for his aerial ability and clinical finishing.",
    "top3_clubs_played_for": ["Juventus"]
  },
  {
    "age": 68,
    "important_facts": "Paolo Rossi is remembered for leading Italy to victory in the 1982 World Cup, where he won the Golden Boot and Golden Ball.",
    "top3_clubs_played_for": ["Juventus", "Lanerossi Vicenza", "Perugia"]
  },
  {
    "age": 58,
    "important_facts": "Gianluca Vialli was a versatile forward known for his technique and leadership skills, he won titles with Sampdoria, Juventus and Chelsea.",
    "top3_clubs_played_for": ["Sampdoria", "Juventus", "Chelsea"]
  },
  {
    "age": 57,
    "important_facts": "Roberto Mancini was a creative and technically gifted player who excelled as a forward or attacking midfielder and enjoyed success with Sampdoria and Lazio.",
    "top3_clubs_played_for": ["Sampdoria", "Lazio"]
  },
  {
    "age": 56,
    "important_facts": "Salvatore 'Toto' Schillaci unexpectedly rose to fame during the 1990 World Cup, becoming the tournament's top scorer and a national hero.",
    "top3_clubs_played_for": ["Juventus", "Internazionale", "Messina"]
  }
]

In [24]:
players = response.parsed
len(players)

5

In [26]:
players[0].top3_clubs_played_for

['Juventus']

# Simulate house prices

In [32]:
from typing import Literal

class Home(BaseModel):
    price: int
    monthly_fee: int
    living_area: float
    number_rooms: int
    type: Literal["aprtment", "house"]
    address: str
    
response = client.models.generate_content(
    model = "gemini-2.0-flash",
    contents = """List 50 apartments and houses in Sweden with their monthly_fee, their price, living area, 
    number of rooms, address, type if it is apartment or house. 
    All currencies are in SEK.""",
    config = {"response_mime_type": "application/json", "response_schema": list[Home]}
)

In [35]:
homes = response.parsed
homes

[Home(price=2500000, monthly_fee=3500, living_area=65.5, number_rooms=2, type='aprtment', address='Storgatan 1, Stockholm'),
 Home(price=4800000, monthly_fee=4200, living_area=82.0, number_rooms=3, type='aprtment', address='Vasagatan 5, Gothenburg'),
 Home(price=6200000, monthly_fee=5800, living_area=120.0, number_rooms=4, type='aprtment', address='Ostra Hamngatan 7, Malmo'),
 Home(price=3900000, monthly_fee=2900, living_area=75.0, number_rooms=3, type='aprtment', address='Drottninggatan 12, Uppsala'),
 Home(price=5500000, monthly_fee=4700, living_area=95.0, number_rooms=4, type='aprtment', address='Kungsgatan 15, Linkoping'),
 Home(price=7800000, monthly_fee=6500, living_area=140.0, number_rooms=5, type='house', address='Villavagen 3, Stockholm'),
 Home(price=9200000, monthly_fee=7200, living_area=160.0, number_rooms=6, type='house', address='Backavagen 8, Gothenburg'),
 Home(price=6500000, monthly_fee=5500, living_area=130.0, number_rooms=5, type='house', address='Parkvagen 10, Malmo'),
 Home(price=5100000, monthly_fee=4100, living_area=100.0, number_rooms=4, type='house', address='Almavagen 14, Uppsala'),
 Home(price=8500000, monthly_fee=6800, living_area=150.0, number_rooms=6, type='house', address='Solvagen 18, Linkoping'),
 Home(price=2100000, monthly_fee=3200, living_area=58.0, number_rooms=2, type='aprtment', address='Norra Allégatan 22, Vasteras'),
 Home(price=4300000, monthly_fee=3900, living_area=78.0, number_rooms=3, type='aprtment', address='Sodra Esplanaden 2, Orebro'),
 Home(price=5900000, monthly_fee=5400, living_area=115.0, number_rooms=4, type='aprtment', address='Vastra Torggatan 9, Helsingborg'),
 Home(price=3600000, monthly_fee=2700, living_area=70.0, number_rooms=3, type='aprtment', address='Ostra Storgatan 27, Jonkoping'),
 Home(price=5200000, monthly_fee=4500, living_area=90.0, number_rooms=4, type='aprtment', address='Norra Promenaden 4, Norrkoping'),
 Home(price=7500000, monthly_fee=6200, living_area=135.0, number_rooms=5, type='house', address='Ekbacken 1, Vasteras'),
 Home(price=8900000, monthly_fee=6900, living_area=155.0, number_rooms=6, type='house', address='Granvagen 5, Orebro'),
 Home(price=6200000, monthly_fee=5200, living_area=125.0, number_rooms=5, type='house', address='Lindallén 7, Helsingborg'),
 Home(price=4800000, monthly_fee=3900, living_area=95.0, number_rooms=4, type='house', address='Bjorkvagen 3, Jonkoping'),
 Home(price=8200000, monthly_fee=6500, living_area=145.0, number_rooms=6, type='house', address='Rosenvagen 9, Norrkoping'),
 Home(price=2700000, monthly_fee=3800, living_area=68.0, number_rooms=2, type='aprtment', address='Kyrkogatan 3, Umea'),
 Home(price=5100000, monthly_fee=4500, living_area=85.0, number_rooms=3, type='aprtment', address='Stationsgatan 8, Lund'),
 Home(price=6700000, monthly_fee=6100, living_area=125.0, number_rooms=4, type='aprtment', address='Stortorget 1, Gavle'),
 Home(price=4200000, monthly_fee=3300, living_area=72.0, number_rooms=3, type='aprtment', address='Kungsgatan 55, Boras'),
 Home(price=5900000, monthly_fee=5100, living_area=98.0, number_rooms=4, type='aprtment', address='Skolgatan 12, Sodertalje'),
 Home(price=8100000, monthly_fee=6800, living_area=145.0, number_rooms=5, type='house', address='Lingonstigen 4, Umea'),
 Home(price=9500000, monthly_fee=7500, living_area=165.0, number_rooms=6, type='house', address='Ahornsvagen 9, Lund'),
 Home(price=6800000, monthly_fee=5800, living_area=135.0, number_rooms=5, type='house', address='Granbacken 2, Gavle'),
 Home(price=5400000, monthly_fee=4400, living_area=105.0, number_rooms=4, type='house', address='Videvagen 6, Boras'),
 Home(price=8800000, monthly_fee=7100, living_area=155.0, number_rooms=6, type='house', address='Tallstigen 11, Sodertalje'),
 Home(price=2300000, monthly_fee=3400, living_area=60.0, number_rooms=2, type='aprtment', address='Torggatan 7, Halmstad'),
 Home(price=4600000, monthly_fee=4100, living_area=80.0, number_rooms=3, type='aprtment', address='Strandgatan 14, Karlstad'),
 Home(price=6300000, monthly_fee=5700, living_area=120.0, number_rooms=4, type='aprtment', address='Hamngatan 3, Kristianstad'),
 Home(price=3800000, monthly_fee=2900, living_area=74.0, number_rooms=3, type='aprtment', address='Storgatan 21, Falun'),
 Home(price=5600000, monthly_fee=4900, living_area=94.0, number_rooms=4, type='aprtment', address='Lasarettsgatan 9, Gavle'),
 Home(price=7900000, monthly_fee=6600, living_area=140.0, number_rooms=5, type='house', address='Bjorkliden 3, Halmstad'),
 Home(price=9300000, monthly_fee=7300, living_area=160.0, number_rooms=6, type='house', address='Lonnbacken 8, Karlstad'),
 Home(price=6600000, monthly_fee=5600, living_area=130.0, number_rooms=5, type='house', address='Aspvagen 10, Kristianstad'),
 Home(price=5200000, monthly_fee=4200, living_area=100.0, number_rooms=4, type='house', address='Vasterdalvagen 14, Falun'),
 Home(price=8600000, monthly_fee=6900, living_area=150.0, number_rooms=6, type='house', address='Solrosvagen 18, Gavle'),
 Home(price=2400000, monthly_fee=3500, living_area=62.0, number_rooms=2, type='aprtment', address='Ostra Kanalgatan 11, Sundsvall'),
 Home(price=4700000, monthly_fee=4200, living_area=81.0, number_rooms=3, type='aprtment', address='Nygatan 16, Karlskrona'),
 Home(price=6400000, monthly_fee=5800, living_area=122.0, number_rooms=4, type='aprtment', address='Trädgårdsgatan 2, Trollhattan'),
 Home(price=3900000, monthly_fee=3000, living_area=76.0, number_rooms=3, type='aprtment', address='Kyrkovägen 7, Lulea'),
 Home(price=5700000, monthly_fee=5000, living_area=96.0, number_rooms=4, type='aprtment', address='Sturegatan 25, Osterund'),
 Home(price=8000000, monthly_fee=6700, living_area=142.0, number_rooms=5, type='house', address='Bergvägen 5, Sundsvall'),
 Home(price=9400000, monthly_fee=7400, living_area=162.0, number_rooms=6, type='house', address='Strandvägen 12, Karlskrona'),
 Home(price=6700000, monthly_fee=5700, living_area=132.0, number_rooms=5, type='house', address='Skogsvägen 9, Trollhattan'),
 Home(price=5300000, monthly_fee=4300, living_area=102.0, number_rooms=4, type='house', address='Ängsvägen 15, Lulea')]

In [36]:
len(homes)

49

In [42]:
homes[0].price, homes[0].address

(2500000, 'Storgatan 1, Stockholm')

In [43]:
homes[0].__dict__

{'price': 2500000,
 'monthly_fee': 3500,
 'living_area': 65.5,
 'number_rooms': 2,
 'type': 'aprtment',
 'address': 'Storgatan 1, Stockholm'}

In [47]:
import pandas as pd

df= pd.DataFrame([home.__dict__ for home in homes])
df.head()

,price,monthly_fee,living_area,number_rooms,type,address
0,2500000,3500,65.5,2,aprtment,"Storgatan 1, Stockholm"
1,4800000,4200,82.0,3,aprtment,"Vasagatan 5, Gothenburg"
2,6200000,5800,120.0,4,aprtment,"Ostra Hamngatan 7, Malmo"
3,3900000,2900,75.0,3,aprtment,"Drottninggatan 12, Uppsala"
4,5500000,4700,95.0,4,aprtment,"Kungsgatan 15, Linkoping"

In [60]:
cheap_houses = df.query("price < 5000000 and type == 'house'")
cheap_houses

,price,monthly_fee,living_area,number_rooms,type,address
18,4800000,3900,95.0,4,house,"Bjorkvagen 3, Jonkoping"

In [61]:
cheap_houses.to_csv("cheap_houses.csv", index=False)